<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-Primary</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
  <div id="dataRender">
    <p>数据渲染</p>
    <p>{{ message }}</p>
    <p>Try enter F12 and write | dataRender.message = 'Surprise' | in the Console</p>
    <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      var dataRender = new Vue({
          el: '#dataRender',
          data: {
              message : 'Just for study!'
          }
      })
  </script>

  <div id="dynamicBind">
      <p>动态绑定</p>
      <p :title="msg">Show Title</p>
      <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      var dynamicBind = new Vue({
          el: '#dynamicBind',
          data: {
              msg : 'Timer -> ' + new Date().toLocaleString()
          }
      })
  </script>

  <div id="choice">
      <p>条件</p>
      <p v-if="seen">now You see me because {{ seen }}</p>
      <p>write | choice.seen = false | in the console</p>
      <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      var choice = new Vue({
          el: '#choice',
          data: {
              seen: true
          }
      })
  </script>

  <div id="foreach">
      <ul>
          <li v-for="book in books">
              {{ book.name }}
          </li>
      </ul>
      <p>write | foreach.books.push({ name: '西游记' }}) |</p>
      <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      var foreach = new Vue({
          el: '#foreach',
          data: {
              books: [
                  { name: '三国演义' },
                  { name: '水浒传' },
                  { name: '红楼梦' }
              ]
          }
      })
  </script>

  <div id="listener">
      <p>{{ msg }}</p>
      <button v-on:click="reverseMsg">reverse</button>
      <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      var listener = new Vue({
          el: '#listener',
          data: {
              msg: 'Look Beautiful~'
          },
          methods: {
              reverseMsg() {
                  this.msg = this.msg.split('').reverse().join('')
              }
          }
      })
  </script>

  <div id="Sbinder">
      <p>{{ msg }}</p>
      <input v-model="msg">
      <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      var Sbinder = new Vue({
          el: '#Sbinder',
          data: {
              msg: 'Practice'
          }
      })
  </script>

  <div id="components">
    <ol>
      <example v-for="book in books" v-bind:todo="book" v-bind:key="book.id"></example>
    </ol>
    <p>-------------------------</p>
  </div>

  <script type="text/javascript">
      Vue.component('example', {
          props: ['todo'],
          template: '<li>{{ todo.name }}</li>'
      });
      var components = new Vue({
          el: '#components',
          data: {
              books: [
                  { id: 0, name: '诗' },
                  { id: 1, name: '书' },
                  { id: 2, name: '礼' },
                  { id: 3, name: '易'}
              ]
          }
      })
  </script>

  <div id="html">
      <p>mustaches语法：{{ htmlText }}</p>
      <p>v-html修饰：<span v-html="htmlText"/></p>
      <p>-------------------------</p>
  </div>
  <script type="text/javascript">
    var html = new Vue({
        el: '#html',
        data: {
            htmlText: '<span style="color: red">JieKi, 我变红了！</span>'
        }
    })
  </script>

  <div id="watcher">
      <p>
        Ask a question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
      <p>-------------------------</p>
  </div>


  <script type="text/javascript">
      var watcher = new Vue({
          el: '#watcher',
          data: {
              question: '',
              answer: 'Please ask a question first time'
          },
          watch: {
              question(newQuestion, oldQuestion) {
                  this.answer = 'Waiting...'
                  this.debouncedGetAnswer()
              }
          },
          created() {
              this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
          },
          methods: {
              getAnswer() {
                  if (this.question.indexOf('?') === -1) {
                      this.answer = '问题通常有一个问号 :-)'
                      return
                  }
                  this.answer = 'Thinking...'
                  var vm = this
                  axios.get('https://yesno.wtf/api')
                      .then(function (response) {
                          vm.answer = _.capitalize(response.data.answer)
                      })
                      .catch(function (error) {
                          vm.answer = 'Error! the reason is ' + error
                      })

              }
          }
      })
  </script>

  <div id="htmlClass">
      <p class="static" :class="{active: isActive, 'text-danger': hasError}">文字</p>
      <p>-------------------------</p>
  </div>
  <script type="text/javascript">
      var htmlClass = new Vue({
          el: '#htmlClass',
          data: {
              isActive: true,
              hasError: false
          }
      })
  </script>


</body>
</html>